body{
    background-color:#ccc;
}
#menu {
display:block;
    background-color:black;
   top:0px;
   left:0px;
   position:absolute;
   width:100%;
   height:100px;
}
#menu a {
    color:white;
    font-size:35px;
    margin-left:50px;
    text-decoration:none;
    background-color:black;
    font-family: 'Oswald', sans-serif;

}
.container {
    height:100%;
    width:100%;
}
#page {
display:block;
   top:100px;
   left:0px;
   position:absolute;
   width:100%;
   height:auto;
}
#search {
    position:absolute;
    background-color:#bbbbbb;
    top:150px;
    width:400px;
    height:300px;
    left:200px;
    z-index:20;
    display:none;
     border-radius: 10px;
     -moz-box-shadow: 2px 2px 3px #666;
     -webkit-box-shadow: 2px 2px 3px #666;
       box-shadow: 2px 2px 3px #666;
 }
#search input{
    padding:10px;
    font-size:26px;
      outline: 0;
    border:100px;
     border: 1px solid #ccc;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
       -webkit-appearance: none;

}
#search input:focus{
border-color: #339933;
}
.canvas{
    position:absolute;
    top:0px;
    left:15px;
    z-index:5;
    display:block;
}
.selectcanvas{
    position:absolute;
    top:0px;
    left:15px;
    z-index:10;
    pointer-events:none;
}
#debug{
    position:absolute;
    top:300px;
}
