body{
    background-color:#ccc;
    padding:0;
    margin:0;
}
#menu {
    display:block;
    background-color:black;
    text-align:center;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    padding:0;
    float:left;
    height:100%;
    width:120px;
}
#menu a {
    color:white;
    font-size:35px;
    text-decoration:none;
    background-color:black;
    font-family: 'Oswald', sans-serif;
}
#menuon {
    color:#ddd;
}
#menu a:hover {
    color:#ccc;
}
#undo {
  margin-left:50px;
  font-size:35px;
}
.container {
    height:100%;
    padding:0;
    width:100%;
}
#page {
display:block;
    padding:0;
}
#searchtablediv{
    display:none;
    overflow:auto;
    overflow-x: hidden;
    width:400px;
    height:300px;
}
#search {
    position:absolute;
    background-color:#bbbbbb;
    top:150px;
    width:400px;
    height:auto;
    left:200px;
    z-index:20;
    display:none;
     border-radius: 10px;
     -moz-box-shadow: 2px 2px 3px #666;
     -webkit-box-shadow: 2px 2px 3px #666;
       box-shadow: 2px 2px 3px #666;
 }
#search input{
    padding:10px;
    font-size:26px;
      outline: 0;
    border:100px;
     border: 1px solid #ccc;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
       -webkit-appearance: none;

}
#search input:focus{
border-color: #339933;
}
button{
  background: black;
  color: white;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  padding-bottom:2px;
}
.canvas{
    position:absolute;
    top:0px;
    left:120px;
    z-index:5;
    display:block;
}
.selectcanvas{
    position:absolute;
    top:0px;
    left:120px;
    z-index:10;
    pointer-events:none;
}
#debug{
    position:absolute;
    top:300px;
    display:none;
}
